body{
    background-color: rgb(229, 242, 253);
}
.headding {
    color: rgb(61, 61, 249);
    font-size: 25px;
    margin-top: 100px;
    margin-bottom: 2px;
    margin-left: 100px;
    font-family: Arial, Helvetica, sans-serif;
}
 .container{
    margin-top: 80px;
    margin-left: 90px;
 }
 .paragraph{
    font-size: 12px;
  
 }
 .paragraph-width{
    margin-top: 0px;
    width: 200px;
    margin-left: 190px;

 }
 .card {
    background-color: white;
    width: 250px;
    height: 200px;
    border-radius: 10px;
    box-shadow:  rgb(25, 17, 17);
    cursor: pointer;
 }
 .flex {
    display: flex;
    justify-content: center;
    margin-left: 300px;
    margin-top: -120px;
    box-shadow: rgb(249, 139, 5);   
 }
.input {
    padding: 4px;
    text-align: left;
    font-size: 10px;
    width: 200px;
    height: 80;
    margin-left: 22px;
    margin-top: 10px;
    border-radius: 2px;
    border: 1;
}
.button {
    color:white;
    background-color: blue;
    border: 0;
    border-radius: 2px;
    width: 208px;
    margin-left: 22px;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;

}
.forgotten{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: blue;
    text-align: center;
}
.horizantal{
    width: 200px;
    color: rgb(138, 137, 137);
}
.btn{
    background-color: rgb(10, 255, 10);
    margin-left: 75px;
    color: white;
    border: 0px;
    border-radius: 2px;
    height: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    width: 100px;
}
.btn:hover{
    background-color: rgb(77, 228, 77);
}